<body><p> </p>
  <h1><span style="color: #333333;">Contact us form</span></h1>
  <p><span style="font-size: 14px;"><span style="color: #808080;">New form submitted from the Future HealthSpaces website.</span></span></p>
  <p> </p>
  <table style="width: 540px; border-collapse: collapse; border-style: hidden; height: 188px;" border="1" cellspacing="100" cellpadding="5">
  <tbody>
  <tr style="height: 18px;">
  <td style="width: 99.859375px; height: 18px; border-style: dotted;"><span style="font-size: 14px;"><span style="color: #808080;">Your name</span></span></td>
  <td style="width: 398.1875px; height: 18px; border-style: dotted;">$name</td>
  <td style="width: 9.96875px; height: 18px; border-style: dotted;"> </td>
  </tr>
  <tr style="height: 18px;">
  <td style="width: 99.859375px; height: 18px; border-style: dotted;"><span style="font-size: 14px;"><span style="color: #808080;">Your email</span></span></td>
  <td style="width: 398.1875px; height: 18px; border-style: dotted;">$email</td>
  <td style="width: 9.96875px; height: 18px; border-style: dotted;"> </td>
  </tr>
  <tr style="height: 18px;">
  <td style="width: 99.859375px; height: 18px; border-style: dotted;"> </td>
  <td style="width: 398.1875px; height: 18px; border-style: dotted;"> </td>
  <td style="width: 9.96875px; height: 18px; border-style: dotted;"> </td>
  </tr>
  <tr style="height: 18px;">
  <td style="width: 99.859375px; height: 18px; border-style: dotted;"><span style="font-size: 14px;"><span style="color: #808080;">Subject</span></span></td>
  <td style="width: 398.1875px; height: 18px; border-style: dotted;">$subject</td>
  <td style="width: 9.96875px; height: 18px; border-style: dotted;"> </td>
  </tr>
  <tr style="height: 18px;">
  <td style="width: 99.859375px; height: 113px; border-style: dotted;"><span style="font-size: 14px;"><span style="color: #808080;">Message</span></span></td>
  <td style="width: 398.1875px; height: 113px; border-style: dotted;"><pre>$message</pre></td>
  <td style="width: 9.96875px; height: 113px; border-style: dotted;"> </td>
  </tr>
  <tr style="height: 1px;">
  <td style="width: 99.859375px; height: 3px; border-style: dotted;"> </td>
  <td style="width: 398.1875px; height: 3px; border-style: dotted;"> </td>
  <td style="width: 9.96875px; height: 3px; border-style: dotted;"> </td>
  </tr>
  </tbody>
  </table>
  <p> </p>
  <p> </p>
  <p> </p>
  <p> </p>
  <p> </p>
  <p> </p>
  <p><br /><br /><br /><br /><br /><br /><br /><span style="font-size: 14px;"><span style="color: #808080;">This is an email sent automatically, please do not reply.</span></span></p>
  <p><span style="color: #808080;"><span style="font-size: 14px;">Did you find a technical problem in this email?<br />Please forward this email to support@webkorp.com reporting the problem.</span></span></p>
  <p> </p>
  </body>
