<body><p>
	&nbsp;</p>
<h1>
	<span style="color: #333333;">Schedule a call</span></h1>
<p>
	<span style="font-size: 14px;"><span style="color: #808080;">New form submitted from the Future HealthSpaces website.</span></span></p>
<p>
	&nbsp;</p>
<table border="1" cellpadding="5" cellspacing="100" style="width: 540px; border-collapse: collapse; border-style: hidden; height: 224px;">
	<tbody>
		<tr style="height: 18px;">
			<td style="width: 115.234375px; height: 18px; border-style: dotted;">
				<span style="font-size: 14px;"><span style="color: #808080;">Your name</span></span></td>
			<td style="width: 383.734375px; height: 18px; border-style: dotted;">
				$name</td>
			<td style="width: 9.046875px; height: 18px; border-style: dotted;">
				&nbsp;</td>
		</tr>
		<tr style="height: 18px;">
			<td style="width: 115.234375px; height: 18px; border-style: dotted;">
				<span style="font-size: 14px;"><span style="color: #808080;">Your email</span></span></td>
			<td style="width: 383.734375px; height: 18px; border-style: dotted;">
				$email</td>
			<td style="width: 9.046875px; height: 18px; border-style: dotted;">
				&nbsp;</td>
		</tr>
		<tr style="height: 18px;">
			<td style="width: 115.234375px; height: 18px; border-style: dotted;">
				<span style="font-size: 14px;"><span style="color: #808080;">Phone number</span></span></td>
			<td style="width: 383.734375px; height: 18px; border-style: dotted;">
				$phoneNumber</td>
			<td style="width: 9.046875px; height: 18px; border-style: dotted;">
				&nbsp;</td>
		</tr>
		<tr style="height: 18px;">
			<td style="width: 115.234375px; border-style: dotted; height: 18px;">
				<span style="font-size: 14px;"><span style="color: #808080;">Preferred date</span></span></td>
			<td style="width: 383.734375px; border-style: dotted; height: 18px;">
				$preferredDate</td>
			<td style="width: 9.046875px; border-style: dotted; height: 18px;">
				&nbsp;</td>
		</tr>
		<tr style="height: 18px;">
			<td style="width: 115.234375px; border-style: dotted; height: 18px;">
				<span style="font-size: 14px;"><span style="color: #808080;">Preferred time</span></span></td>
			<td style="width: 383.734375px; border-style: dotted; height: 18px;">
				$preferredTime</td>
			<td style="width: 9.046875px; border-style: dotted; height: 18px;">
				&nbsp;</td>
		</tr>
		<tr style="height: 18px;">
			<td style="width: 115.234375px; height: 18px; border-style: dotted;">
				&nbsp;</td>
			<td style="width: 383.734375px; height: 18px; border-style: dotted;">
				&nbsp;</td>
			<td style="width: 9.046875px; height: 18px; border-style: dotted;">
				&nbsp;</td>
		</tr>
		<tr style="height: 18px;">
			<td style="width: 115.234375px; height: 113px; border-style: dotted;">
				<span style="font-size: 14px;"><span style="color: #808080;">Message</span></span></td>
			<td style="width: 383.734375px; height: 113px; border-style: dotted;">
				$message</td>
			<td style="width: 9.046875px; height: 113px; border-style: dotted;">
				&nbsp;</td>
		</tr>
		<tr style="height: 1px;">
			<td style="width: 115.234375px; height: 3px; border-style: dotted;">
				&nbsp;</td>
			<td style="width: 383.734375px; height: 3px; border-style: dotted;">
				&nbsp;</td>
			<td style="width: 9.046875px; height: 3px; border-style: dotted;">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<span style="font-size: 14px;"><span style="color: #808080;">This is an email sent automatically, please do not reply.</span></span></p>
<p>
	<span style="color: #808080;"><span style="font-size: 14px;">Did you find a technical problem in this email?<br />
	Please forward this email to support@webkorp.com reporting the problem.</span></span></p>
<p>
	&nbsp;</p>
</body>
